<%- include('../partials/header') %>

<section id="show-page">
    <div>Title:</div>
    <div><%= recipe.title %></div>
    <div>Category:</div>
    <div><%= recipe.category %></div>
    <div>Difficulty:</div>
    <div><%= recipe.difficulty %></div>
    <div>Ingredients:</div>
    <div><%= recipe.ingredients %></div>
    <div>Direcetions:</div>
    <div><%= recipe.directions %></div>
    <div>
        <% if (user?._id.equals(recipe.user)) { %>
            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST"></form>
            <button type="submit">X</button>
        <% } %>
    </div>
</section>

<%- include('../partials/footer') %>