<%- include('../partials/header') %>

<section id="show-page">
    <div>Title:</div>
    <div><%= recipe.title %></div>
    <div>Category:</div>
    <div><%= recipe.category %></div>
    <div>Difficulty:</div>
    <div><%= recipe.difficulty %></div>
    <div>Ingredients:</div>
    <div><%= recipe.ingredients %></div>
</section>

<%- include('../partials/header') %>